/* input:invalid {
    border: 2px dashed red;
  }
  
  input:valid {
    border: 2px solid black;
  } */
  .add_book_header {
    text-align: center;
  }
  .add_book_content_wrapper {
    margin: 20px 0;
  }
  #addBookForm, #editBookForm {
    position: relative;
  }
  #addBookForm .close_btn , #editBookForm .close_btn{
    position: absolute;
    top: 0px;
    right: 15px;
  }
  #addBookForm .close_btn button {
    width: 25px;
    height: 25px;
    border-radius: 5px;
  }
  #addBookForm, #editBookForm {
    width: 50%;
    text-align: center;
  }
  .add_book_description_label {
    width: 20%;
    display: inline-block;
  }
  .add_book_content_wrapper >span{
    font-weight: 600;
    font-size: 18px;
    margin: 20px 0;
  }
  .add_book_text, .show_book_detail {
    padding: 2px 5px;
    border-radius: 7px;
    width: 50%;
    display: inline-block;
    height: 25px;
  }
  .show_book_detail{
    vertical-align: middle;
  }
  .add_book_content_wrapper > button {
    padding: 10px;
    border-radius: 5px;
  }

  /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  #addBookForm,  #editBookForm {
      width: 100%;
  }
  .add_book_description_label {
    width: 30%;
  }
  .add_book_text, .show_book_detail {
    width: 50%
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  #addBookForm,  #editBookForm {
      width: 100%;
  }
  .add_book_description_label {
    width: 30%;
  }
  .add_book_text, .show_book_detail {
    width: 50%
  }
}
